#testboard-section{
    margin-top: 100px;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;
}
.testsheet-card {
    background-color: white;
    width: 25%;
    min-width: 300px;
    height: 350px;
    border-radius: 7px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #CCC;
    cursor:pointer;
    transition: all 0.3s ease-in-out;
    
    
}
.testsheet-card:hover {
    border: 1px solid lightseagreen;
    transform: scale(1.048);
    -webkit-font-smoothing: subpixel-antialiased;

}
.testsheet-card .title {
    font-size: 1.5em;
    text-align: center;
}
.image-container {
    display: block;
    margin:auto;
    margin-top: 15px;
    margin-bottom: 15px;

    position: relative;
    height: 0;
    width: 50%;
    padding-bottom: 50%;
}
img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    object-position: center;
}
.number-box {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    
}
.number-box .number-label {
    display: block;
    margin:auto;
    text-align: center;
    font-size: 0.8em;
    color:#444;
    
}
.number-box .number {
    text-align: center;
    font-size: 1.8em;
    font-weight: 700;
    color: #444;
}
.row {
    margin-bottom: 10px;
}
