
h1 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;
}
.question {
    margin-bottom: 50px;
    border-radius: 6px;
    background-color: white;
    box-shadow: 1px 1px 2px #333;
    padding: 30px;
}
.question-title {
    font-size: 20px;
    padding: 15px;
    margin-bottom: 10px;
}
.question-choice {
   
    background-color: white;
    border:1px solid #CCC;
    padding: 15px;
    margin: 10px;
    cursor: pointer;
    font-size: 15px;
    transition: all .2s ease-in-out;
}
.question-choice span {
    cursor: pointer;
}
.question-choice:hover span::before {
    // content: "<i class=\"fa fa-check\" aria-hidden=\"true\">";
}
.question-choice:not(.active):hover {
    background-color: #CCC;
}
.question-choice.active {
    border-color: lightseagreen;

}
.question-choice.inactive {
    color: grey;
    background-color: #ccc;
}
.question-choice.inactive:hover {
    color: black;
    background-color: white;
}
