<div *ngIf="start" id="test-section" class="container-fluid question-bg noise">
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="question-wrapper">
                <my-question *ngFor="let question of testSheet.questions;let i = index" [question]="question" 
                [answer]="findAnswerByQid(question.id)" [number]="i+1" (clickChoice)="saveAnswer($event)" ></my-question>
            </div>
        </div>

    </div>

</div>