<div class="mycover" [ngClass]="{'active':hasResult}" [ngStyle]="{'background-image':'url('+ coverUrl +')'}">
    <div class="container cover-content">
        <div class="row justify-content-center">
            <div class="col-xs-9 col-sm-9 col-md-10">
                <h1>สำรวจที่ทำงานด้วย True sight</h1>
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <form class="navbar-form" role="search">
                            <div class="input-group input-group-lg add-on">
                                <input id="search-box" class="form-control" placeholder="ชื่อสถานที่ทำงาน" type="text" />
                                <div class="input-group-btn">
                                    <button (click)="searchWorkPlace(placeId)" class="btn btn-default" type="submit">ดูผลสำรวจที่นี่</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!hasResult" id="icon-section" class="row justify-content-center">
            <div class="col-md-4">
                <div class="icon-box">
                    <img class="icon" src="/img/001-shapes.svg" alt="">
                    <p>แบ่งปันประสบการณ์ทำงานผ่านแบบสอบถาม</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-box">
                    <img class="icon" src="/img/002-brain.svg" alt="">
                    <p>พัฒนามาตรวัดร่วมกับคณะจิตวิทยา</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-box">
                    <img class="icon" src="/img/checklist.svg" alt="">
                    <p>แปลผลหลังทำแบบสอบถามทันที</p>
                </div>
            </div>
        </div>

        <!--<div *ngIf="loaded && !user && !hasResult" class="row justify-content-center">
            <div class="col-md-2">
                <button type="button" class="btn btn-large btn-block btn-success">เข้าร่วมการทดสอบ</button>
            </div>
        </div>-->
    </div>

</div>
<div *ngIf="!searchLoaded" class="justify-content-center">
    <div>
        <img id="diamond-icon" src="/img/animat-diamond-color.gif">
        <!--<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>-->
    </div>
    <p class="sr-only">Loading...</p>
</div>

<div *ngIf="searchLoaded && hasResult" class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <masonry [options]="{ transitionDuration: '0.8s',gutter: 30 }" [useImagesLoaded]="true">
                <masonry-brick *ngIf="place.name">
                    <div class="result-block">
                        <div  class="row">
                            <div class="col-md-6">
                                <div class="field-label">
                                    work place
                                </div>
                                <div class="title">
                                    {{place.name}}
                                </div>
                                <small>{{place.formatted_address}}</small>
                            </div>
                            <div class="col-md-2">
                                <div class="field-label">
                                    views
                                </div>
                                <div class="title">
                                    {{workPlace?workPlace.viewCount:'-'}} คน
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="field-label">
                                    available factor
                                </div>
                                <div class="title">
                                    {{workPlace?workPlace.factorsAvailable.length:'-'}} ตัวแปร
                                </div>
                            </div>

                        </div>
                    </div>


                </masonry-brick>
                <masonry-brick *ngIf="workPlace">
                    <div class="result-block">
                        <div  class="row">
                            <div class="col-md-2">
                                <div class="field-label">
                                    overall
                                </div>
                                <div class="title">
                                    {{workPlace.participant.male + workPlace.participant.female}} คน
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="field-label">
                                    <img class="icon" src="/img/fashion.svg"> male
                                </div>
                                <div class="title">
                                    {{workPlace.participant.male}} คน
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="field-label">
                                    <img class="icon" src="/img/clothes.svg"> female
                                </div>
                                <div class="title">
                                    {{workPlace.participant.female}} คน
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="field-label">
                                    Average age
                                </div>
                                <div class="title">
                                    {{averageAge}} ปี
                                </div>
                            </div>
                        </div>
                    </div>

                </masonry-brick>
                <masonry-brick *ngIf="workPlace && workPlace.results">
                    <div class="result-block">
                        <div  class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="testsheet">เลือกชุดทดสอบ</label>

                                    <div class="input-group">
                                        <select (ngModelChange)="onChangeTestSheet($event)" [(ngModel)]="selectedTestSheet" class="form-control" name="testsheet"
                                            #testsheet="ngModel" required>
                                    <option [disabled]="true" [value]="undefined"></option>
                                    <template ngFor let-testSheet [ngForOf]="testSheetList" >
                                    <option [value]="testSheet.uid">
                                        {{testSheet.title}}
                                    </option>
                                    </template>
                                    
                                </select>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="job">ตัวกรองอาชีพ</label>

                                    <div class="input-group">
                                        <select (ngModelChange)="onChangeJob($event)" [(ngModel)]="selectedJob" class="form-control" name="job" #job="ngModel" required>
                                <option [value]="0">ทั้งหมด</option>
                                    <template ngFor let-job [ngForOf]="jobList" >
                                    <option [value]="job.id">
                                        {{job.name}}
                                    </option>
                                    </template>
                                </select>
                                    </div>
                                </div>


                            </div>
                            <div class="col-md-9">
                                <div *ngIf="chartLoaded" style="display: block">
                                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                                        [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                </masonry-brick>
                <!--<masonry-brick *ngIf="workPlace && workPlace.results">
                    <div class="result-block">
                        <div  class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="job">ตัวกรองอาชีพ</label>

                                    <div class="input-group">
                                        <select (ngModelChange)="onChangeJobSalary($event)" [(ngModel)]="selectedJobSalary" class="form-control" name="job" #job="ngModel"
                                            required>
                                <option [value]="0">ทั้งหมด</option>
                                    <template ngFor let-job [ngForOf]="jobListSalary" >
                                    <option [value]="job.id">
                                        {{job.name}}
                                    </option>
                                    </template>
                                </select>
                                    </div>
                                </div>


                            </div>
                            <div class="col-md-3">
                                <div class="field-label">
                                    average
                                </div>
                                <div class="title">
                                    {{salary.average}} บาท
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="field-label">
                                    min
                                </div>
                                <div class="title">
                                    {{salary.min}} คน
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="field-label">
                                    max
                                </div>
                                <div class="title">
                                    {{salary.max}} คน
                                </div>
                            </div>
                        </div>
                    </div>

                </masonry-brick>-->
                <masonry-brick *ngIf="!workPlace" class="result-block">
                    <div class="row">
                        <div class="col-md-12">
                            <p>ไม่นะ ! ยังไม่มีใครทำการทดสอบที่นี่มาก่อน</p>
                            <div class="row justify-content-center">
                                <div class="col-md-3">
                                    <button type="button" [routerLink]="['/questionnaires',place.place_id]" class="btn btn-large btn-block btn-success">ฉันเคยทำงานที่นี่ !</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </masonry-brick>
            </masonry>
        </div>
    </div>
</div>