<div class="cover-full">
    <img id="cover-bg" src="/img/cover.jpg" alt="">
    <div id="cover-content" class="container">
        <div class="row justify-content-center">
            <div class="col-xs-9 col-sm-9 col-md-10">
                <h1>ค้นหางาน</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xs-9 col-sm-9 col-md-7">
                <form class="navbar-form" role="search">
                    <div class="input-group input-group-lg add-on">
                        <input id="search-box" class="form-control" placeholder="ค้นหาที่ทำงาน" type="text" />
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">ค้นหา</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>