$coverHeight:500px;
.cover-full {
    position: relative;
    width: 100%;
}

img.cover-bg {
    position: absolute;
    height: $coverHeight;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.cover-content {
    padding-top: 150px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
}

.cover-content .input-group {
    width: 100%;
}

.cover-content .input-group-btn {
    width: 50px;
}

.cover-content h1 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.btn {
    box-shadow : inset 0 1px 0 rgba(255,255,255,0.2)!important;
    padding: 10px 14px;
}
.btn-success {
    color: #fff;
    background-color: #1d9d74;
    border-color: #198764;
}
.btn-success:hover {
    background-color: #218263;
    
}
